data/tamil/*
!data/tamil/analysis
data/tamil/analysis/phone_all.ctm
data/tamil/analysis/phone_all_mpr.ctm
data/tamil/analysis/phone_missing_mpr.ctm
!data/tamil/results

data/gujarati/*
!data/gujarati/analysis
data/gujarati/analysis/phone_all.ctm
data/gujarati/analysis/phone_all_mpr.ctm
!data/gujarati/results

data/telugu/*
!data/telugu/analysis
data/telugu/analysis/phone_all.ctm
data/telugu/analysis/phone_all_mpr.ctm
!data/telugu/results

data/hindi/*
!data/hindi/analysis
data/hindi/analysis/phone_all.ctm
data/hindi/analysis/phone_all_mpr.ctm
!data/hindi/results

data/marathi/*
!data/marathi/analysis
data/marathi/analysis/phone_all.ctm
data/marathi/analysis/phone_all_mpr.ctm
!data/marathi/results

data/odia/*
!data/odia/analysis
data/odia/analysis/phone_all.ctm
data/odia/analysis/phone_all_mpr.ctm
!data/odia/results

data/banjara/*
!data/banjara/analysis/
!data/banjara/results/

data/digit_recog_tests/*
!data/digit_recog_tests/analysis/
!data/digit_recog_tests/results/

data/indic_data
data/indic_challenge_ctms
data/LibriSpeech-84-121123.trans.txt
**/results_all_returns.txt
**/results_all.txt
**/results_analysis.txt

speechseqembeddings/LibriSpeech
speechseqembeddings/training_data
speechseqembeddings/pretrained
speechseqembeddings/sse_benchmark

voice_search_server/model
voice_search_server/.vscode
voice_search_server/data

mhubert_model/digit_recog_tests/embeddings
mhubert_model/test.py
mhubert_model/hubert_env
mhubert_model/hubert_env_gpu
mhubert_model/tamil_test_data
mhubert_model/data

__pycache__

utils/test.py
utils/data


