data/tamil/*
!data/tamil/analysis
data/tamil/analysis/phone_all.ctm
data/tamil/analysis/phone_all_mpr.ctm
data/tamil/analysis/phone_missing_mpr.ctm
!data/tamil/results

data/banjara/*
!data/banjara/analysis/
!data/banjara/results/

data/digit_recog_tests/*
!data/digit_recog_tests/analysis/
!data/digit_recog_tests/results/

data/indic_data
data/indic_challenge_ctms
data/LibriSpeech-84-121123.trans.txt
**/results_all_returns.txt
**/results_all.txt
**/results_analysis.txt

data/gujarati/*
data/telugu/*
data/hindi_upsampled/*
data/marathi_upsampled/*
data/odia_upsampled/*

speechseqembeddings/LibriSpeech
speechseqembeddings/training_data
speechseqembeddings/pretrained
speechseqembeddings/sse_benchmark

voice_search_server/model
voice_search_server/.vscode
voice_search_server/data

mhubert_model/digit_recog_tests/embeddings
mhubert_model/test.py
mhubert_model/hubert_env
mhubert_model/hubert_env_gpu
mhubert_model/tamil_test_data
mhubert_model/data

__pycache__

utils/test.py
utils/data


